/* about page */
@mixin about-adjust-image {
    width: 400px;
    border-radius: 5px;
    margin: 10px 40px;
}

#about-article section {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    #contact-details {
        #sns {
            width: 100px;
            display: flex;
            justify-content: space-between;
    
            /* adjust the design of SNS images used */
            .icon img {
                width: 30px;
                /* remove unwanted height on anchor tag */
                vertical-align: bottom;
                display: inline-block;
            }
        }
    }

    /* turn all h2 tag to uppercase and add special character "#" before it */
    h2 {
        text-transform: uppercase;
        margin: 20px 10px;

        &::before {
            content: "# ";
        }
    }

    /* redesign the anchor tag */
    a {
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline;
        }

        &:visited {
            color: white;
        }
    }

    p,
    #sns {
        margin: 5px 40px;
    }

    /* adjust the design of iframe (map & spotify) */
    iframe {
        @include about-adjust-image;

        &.map {
            height: 100%;
        }
    }

    #introduction {
        #full-name,
        a {
            font-weight: bold;
        }

        /* adjust the design of images used */
        img {
            @include about-adjust-image;
        }
    }
}