/* about responsive page */
/*
    for the about page, there was nothing really special.
    It was pretty much about re-sizing the elements so that the page is responsive.
*/
@mixin about_mobile-adjust-image {
    width: 80%;
    border-radius: 5px;
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    #about-article section {
        width: 100%;
        
        h2 {
            margin: 0;
        }

        p {
            margin: 5px 5%;
        }

        #contact-details,
        #introduction {
            width: 100%;
        }

        #contact-details,
        #introduction {
            /* made two div elements to flex as it is gets easier to position elements */
            display: flex;
            flex-direction: column;
        }

        iframe,
        img {
            /* adjust the image to fit the page */
            @include about_mobile-adjust-image;

            align-self: center;
        }
    }
}