/* contact page */
#contact-article section {
    max-width: 450px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 40px;
        margin: 10px 0;
    }

    form {
        display: flex;
        flex-direction: column;

        p {
            margin: 5px;
            display: flex;
            flex-direction: column;

            label {
                font-size: 12px;
            }

            input[type="submit"] {
                width: 150px;
                align-self: flex-end;
            }
        }
    }

    #sns {
        margin: 5px;
        width: 200px;
        align-self: center;
        display: flex;
        justify-content: space-between;

        .icon img {
            width: 30px;
            /* remove unwanted height on anchor tag */
            vertical-align: bottom;
            display: inline-block;
        }
    }
}