/* contact page */
#contact-article form {
    width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;

    p {
        margin: 5px;
        display: flex;
        flex-direction: column;

        label {
            font-size: 12px;
        }

        input[type="submit"] {
            width: 150px;
            align-self: flex-end;
        }
    }
}