#home-article section {
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    
    img {
        width: 50%;
        border-radius: 10px;
        align-self: center;
    }
}