/* Common CSS theme shared on every page */
/* set the font family and reset CSS */
html,
body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: $primary-color;
    color: white;
}

header {
    background-color: $primary-color;

    nav {
        margin: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            svg#logo g .cls-1 {
                fill: white;
            }
        }
        
        ul {
            width: 300px;
            height: 50px;
            margin: 0;
            padding: 0;
            list-style-type: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            li {
                a {
                    font-weight: bold;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: white;
                    // -webkit-touch-callout: none; /* iOS Safari */
                    // -webkit-user-select: none; /* Safari */
                    // -khtml-user-select: none; /* Konqueror HTML */
                    // -moz-user-select: none; /* Old versions of Firefox */
                    // -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
                
                    @include style-link;
                }
            }
        }

        .menu-button {
            display: none;
        }
    }
}

.main-article {
    margin: 100px 0;
    display: flex;
    flex-direction: column;

    h1 {
        font-size: 50px;
        margin: 30px 200px;
        text-transform: uppercase;
        // -webkit-touch-callout: none; /* iOS Safari */
        // -webkit-user-select: none; /* Safari */
        // -khtml-user-select: none; /* Konqueror HTML */
        // -moz-user-select: none; /* Old versions of Firefox */
        // -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */

        &::after {
            content: " |";
        }
    }

    section {
        width: 60%;
        align-self: center;
    }
}

footer {
    height: 100px;
    display: flex;
    
    @include center;
}