#skill-article section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    #resume {
        width: 60%;
        margin-bottom: 40px;
        align-self: center;
        display: flex;
        flex-direction: column;

        @include center;

        a {
            margin-bottom: 20px;
            font-size: 2em;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            color: white;
    
            @include style-link;
    
            &:visited {
                color: white;
            }
        }

        pdf-view {
            width: 60vw;
            height: 60vh;
        }
    }

    .content {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        @include center;

        .slideshow,
        .description {
            width: 30%;
        }

        .slideshow {
            display: flex;
            flex-direction: column;
    
            .slides {
                width: 100%;
                border-radius: 10px;
            }
            
            .navigation {
                margin: 10px 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
        
                .left-arrow,
                .dots,
                .right-arrow {
                    // -webkit-touch-callout: none; /* iOS Safari */
                    // -webkit-user-select: none; /* Safari */
                    // -khtml-user-select: none; /* Konqueror HTML */
                    // -moz-user-select: none; /* Old versions of Firefox */
                    // -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
                    cursor: pointer;
                }
    
                .dot-list {
                    display: flex;
        
                    @include center;
                }
        
                .dots {
                    margin: 0 2px;
                    width: 10px;
                    height: 10px;
                    border: 1px solid white;
                    border-radius: 50%;
        
                    &:hover {
                        background-color: white;
                    }
                }
        
                .activated {
                    background-color: white;
                }
            }
        }

        .description {
            margin: 10px;
            text-transform: uppercase;
            display: flex;
            
            @include center;
        }
    }
}