#skill-article section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    #resume {
        width: 60%;
        margin-bottom: 40px;
        align-self: center;
        display: flex;
        flex-direction: column;

        @include center;

        a {
            margin-bottom: 20px;
            /* style text of anchor tag */
            font-size: 2em;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            color: white;
    
            /* style the anchor tag */
            @include style-link;
    
            &:visited {
                color: white;
            }
        }

        iframe {
            width: 85%;
            height: 60vh;
        }
    }

    .content {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;

        /* align all elements to the center */
        @include center;

        .slideshow,
        .description {
            width: 30%;
        }

        .slideshow {
            display: flex;
            flex-direction: column;
    
            .slides {
                width: 100%;
                border-radius: 10px;
            }
            
            .navigation {
                /* properly position bullets & arrows */
                margin: 10px 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
        
                .left-arrow,
                .dots,
                .right-arrow {
                    /* do not allow the user to drag-select the text */
                    user-select: none;
                    cursor: pointer;
                }
    
                .dot-list {
                    display: flex;
        
                    /* center all dot points in the list */
                    @include center;
                }
        
                .dots {
                    /* style the dots */
                    margin: 0 2px;
                    width: 10px;
                    height: 10px;
                    border: 1px solid white;
                    border-radius: 50%;
        
                    &:hover {
                        background-color: white;
                    }
                }
        
                .activated {
                    /* 
                        switch the background colour of activated dots to white
                        switching inactivated dots to empty is done via JavaScript
                    */
                    background-color: white;
                }
            }
        }

        .description {
            margin: 10px;
            text-transform: uppercase;
            display: flex;
            
            /* align elements to the center */
            @include center;
        }
    }
}