/* skill responsive page */
/*
    change the font size of the resume anchor tag
    change the size of the slides and descriptions
*/
@media screen and (max-width: 600px) {
    #skill-article section {
        #resume {
            width: 100%;

            a {
                font-size: 1.5em;
            }
        }

        .content {
            .slideshow,
            .description {
                width: 50%;
            }
        }
    }
}