/* skill mobile page */
@media screen and (max-width: 600px) {
    #skill-article section {
        #resume {
            width: 100%;

            a {
                font-size: 1.5em;
            }

            iframe {
                width: 80%;
                height: 50vh;
            }
        }

        .content {
            .slideshow,
            .description {
                width: 50%;
            }
        }
    }
}