/* Common CSS theme shared on every page */
/* set the font family and reset CSS */
html,
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #161619;
  color: white;
}

header {
  background-color: #161619;
}
header nav {
  margin: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a svg#logo g .cls-1 {
  fill: white;
}
header nav ul {
  width: 300px;
  height: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  position: relative;
  display: inline-block;
}
header nav ul li a:after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  width: 0;
  height: 2px;
  left: 50%;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  position: absolute;
  display: block;
}
header nav ul li a:hover:after {
  width: 100%;
  left: 0;
}
header nav ul li a:visited {
  color: white;
}
header nav .menu-button {
  display: none;
}

.main-article {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
}
.main-article h1 {
  font-size: 50px;
  margin: 30px 10%;
  text-transform: uppercase;
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.main-article h1::after {
  content: " |";
}
.main-article section {
  width: 60%;
  align-self: center;
}

footer {
  height: 80px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  header nav {
    margin: 20px;
    flex-direction: column;
  }
  header nav ul {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    justify-content: space-around;
  }

  .main-article {
    margin: 10px 10px;
  }
  .main-article h1 {
    font-size: 2rem;
    margin: 10px 5%;
  }
}
#home-article section {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
}
#home-article section img {
  width: 50%;
  border-radius: 10px;
  align-self: center;
}

@media screen and (max-width: 600px) {
  #home-article section img {
    width: 80%;
  }
}
/* about page */
#about-article section {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#about-article section #contact-details #sns {
  width: 100px;
  display: flex;
  justify-content: space-between;
}
#about-article section #contact-details #sns .icon img {
  width: 30px;
  /* remove unwanted height on anchor tag */
  vertical-align: bottom;
  display: inline-block;
}
#about-article section h2 {
  text-transform: uppercase;
  margin: 20px 10px;
}
#about-article section h2::before {
  content: "# ";
}
#about-article section a {
  text-decoration: none;
  color: white;
}
#about-article section a:hover {
  text-decoration: underline;
}
#about-article section a:visited {
  color: white;
}
#about-article section p,
#about-article section #sns {
  margin: 5px 40px;
}
#about-article section iframe {
  width: 400px;
  border-radius: 5px;
  margin: 10px 40px;
}
#about-article section iframe.map {
  height: 100%;
}
#about-article section #introduction #full-name,
#about-article section #introduction a {
  font-weight: bold;
}
#about-article section #introduction img {
  width: 400px;
  border-radius: 5px;
  margin: 10px 40px;
}

/* about mobile page */
@media screen and (max-width: 600px) {
  #about-article section {
    width: 100%;
  }
  #about-article section h2 {
    margin: 0;
  }
  #about-article section p {
    margin: 5px 5%;
  }
  #about-article section #contact-details,
#about-article section #introduction {
    width: 100%;
  }
  #about-article section #contact-details,
#about-article section #introduction {
    display: flex;
    flex-direction: column;
  }
  #about-article section iframe,
#about-article section img {
    width: 80%;
    border-radius: 5px;
    margin: 10px 0;
    align-self: center;
  }
  #about-article section #introduction img {
    width: 80%;
    border-radius: 5px;
    margin: 10px 0;
  }
}
#skill-article section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#skill-article section #resume {
  width: 60%;
  margin-bottom: 40px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#skill-article section #resume a {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  position: relative;
  display: inline-block;
}
#skill-article section #resume a:after {
  content: "";
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  width: 0;
  height: 2px;
  left: 50%;
  background: white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  position: absolute;
  display: block;
}
#skill-article section #resume a:hover:after {
  width: 100%;
  left: 0;
}
#skill-article section #resume a:visited {
  color: white;
}
#skill-article section #resume a:visited {
  color: white;
}
#skill-article section #resume embed {
  width: 60vw;
  height: 60vh;
}
#skill-article section .content {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#skill-article section .content .slideshow,
#skill-article section .content .description {
  width: 30%;
}
#skill-article section .content .slideshow {
  display: flex;
  flex-direction: column;
}
#skill-article section .content .slideshow .slides {
  width: 100%;
  border-radius: 10px;
}
#skill-article section .content .slideshow .navigation {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#skill-article section .content .slideshow .navigation .left-arrow,
#skill-article section .content .slideshow .navigation .dots,
#skill-article section .content .slideshow .navigation .right-arrow {
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  cursor: pointer;
}
#skill-article section .content .slideshow .navigation .dot-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
#skill-article section .content .slideshow .navigation .dots {
  margin: 0 2px;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  border-radius: 50%;
}
#skill-article section .content .slideshow .navigation .dots:hover {
  background-color: white;
}
#skill-article section .content .slideshow .navigation .activated {
  background-color: white;
}
#skill-article section .content .description {
  margin: 10px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* skill mobile page */
@media screen and (max-width: 600px) {
  #skill-article section #resume {
    width: 100%;
  }
  #skill-article section #resume a {
    font-size: 1.5em;
  }
  #skill-article section #resume embed {
    width: 90%;
    height: 60vh;
  }
  #skill-article section .content .slideshow,
#skill-article section .content .description {
    width: 50%;
  }
}
/* blog page */
#blog-article section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
}
#blog-article section .preview {
  width: 400px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-out;
}
#blog-article section .preview p,
#blog-article section .preview img,
#blog-article section .preview h2,
#blog-article section .preview .button {
  margin: 10px;
}
#blog-article section .preview h2,
#blog-article section .preview .button {
  align-self: flex-start;
}
#blog-article section .preview .button {
  appearance: button;
  -webkit-appearance: button;
  -moz-appearance: button;
  text-decoration: none;
  background-color: #8d4d37;
  border: 1px solid #8d4d37;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  overflow: visible;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}
#blog-article section .preview .button:disabled {
  opacity: 0.5;
}
#blog-article section .preview .button:focus {
  outline: 0;
}
#blog-article section .preview .button:hover {
  background-color: #6b3726;
  border-color: #6b3726;
}
#blog-article section .preview img {
  width: calc(100% - 20px);
  border-radius: 10px;
}
#blog-article section .preview:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 600px) {
  #blog-article section {
    width: 100%;
  }
}
/* blog post page */
#blog_post-article section {
  width: 1000px;
  align-self: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#blog_post-article section a#back {
  margin: 10px 80px;
  text-decoration: none;
  color: white;
  align-self: flex-start;
}
#blog_post-article section a#back:hover {
  text-decoration: underline;
}
#blog_post-article section h2,
#blog_post-article section #profile {
  margin: 10px 80px;
}
#blog_post-article section h2 {
  font-size: 40px;
  align-self: center;
}
#blog_post-article section > img {
  margin: 10px;
  width: 900px;
}
#blog_post-article section #profile {
  align-self: flex-start;
  display: flex;
}
#blog_post-article section #profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#blog_post-article section #profile #author {
  align-self: center;
}
#blog_post-article section #profile #author p {
  margin: 0 10px;
  font-size: 12px;
}
#blog_post-article section p {
  margin: 10px 80px;
}

/* contact page */
#contact-article section {
  max-width: 450px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#contact-article section h2 {
  font-size: 40px;
  margin: 10px 0;
}
#contact-article section form {
  display: flex;
  flex-direction: column;
}
#contact-article section form p {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
#contact-article section form p label {
  font-size: 12px;
}
#contact-article section form p input[type=submit] {
  width: 150px;
  align-self: flex-end;
}
#contact-article section #sns {
  margin: 5px;
  width: 200px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
#contact-article section #sns .icon img {
  width: 30px;
  /* remove unwanted height on anchor tag */
  vertical-align: bottom;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  #contact-article section {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
